# general
/bin/
.env

# netbeans
nbproject/
nbactions.xml
nb-configuration.xml

# vscode
.vscode

# intellij
.idea
*.iml
*.ipr
*.iws

# eclipse
.project
.settings/
.pydevproject

# maven
.mvn
.checkstyle
dependency-reduced-pom.xml
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# gradle
.factorypath

# java
hs_err_pid*
.classpath*

# kotlin
.kotlin/

# go
go.work
go.sum
go.work.sum

# python
.py[codz]
*$py.class
.venv/
__pycache__/

# vim
*.swp
*.swo

# mac
.DS_Store

# windows
Thumbs.db

# oh no you didnt
*.pem
*.key
*.p12
*.crt
*.ds
